@import "tailwindcss";

@theme {
  --color-primary: oklch(27.82% 0.1158 271.73);
  --color-secondary: oklch(0.795 0.184 86.047);

  --font-sans: "Source Serif 4", serif;
}

@font-face {
  font-display: swap;
  font-family: "Source Serif 4";
  font-style: normal;
  font-weight: 400;
  src: url("fonts/source-serif-4-v8-latin-ext-regular.woff2") format("woff2");
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 2rem;
}
