---
import Layout from "../layouts/Layout.astro";
import "../styles/global.css";
---

<Layout>
  <section class="min-h-screen flex flex-col justify-center items-center">
    <div
      class="px-6 py-12 border border-dashed border-[#D4AF37] rounded-sm shadow-md text-center"
    >
      <h1 class="font-serif text-4xl text-[#171E60] font-bold mb-4">
        ¡Gracias por contactarnos!
      </h1>
      <p class="text-lg mb-6">
        Hemos recibido tu mensaje y pronto nos pondremos en contacto contigo.
      </p>
      <a href="/" class="text-[#171E60] hover:underline">
        Regresar al inicio
      </a>
    </div>
  </section>
</Layout>
