---
import {
  Header,
  Hero,
  Servicios,
  Nosotros,
  Footer,
  Equipo,
  Contacto,
} from "@components";
---

<div id="container" class="flex flex-col min-h-screen">
  <Header />
  <main class="flex-1">
    <Hero />

    <Servicios />
    <Nosotros />
    <Equipo />
    <Contacto />
  </main>
  <Footer />
</div>
