---
import Header from "./Header.astro";
import Hero from "./Hero.astro";
import Servicios from "./Servicios.astro";
import Nosotros from "./Nosotros.astro";
import Footer from "./Footer.astro";
---

<div id="container">
  <Header />
  <Hero />
  <Servicios />
  <Nosotros />
  <Footer />
</div>
