---
import Header from "./Header.astro";
import Hero from "./Hero.astro";
import Servicios from "./Servicios.astro";
import Nosotros from "./Nosotros.astro";
import Footer from "./Footer.astro";
import Equipo from "./Equipo.astro";
---

<div id="container" class="flex flex-col min-h-screen">
  <Header />
  <main class="flex-1">
    <Hero />
    <Servicios />
    <Nosotros />
    <Equipo />
  </main>
  <Footer />
</div>
