---
import WhatsAppLogo from "../assets/icons/WhatsAppLogo.astro";
---

<a
  href="https://wa.me/51976762237"
  class="fixed bottom-6 right-6 z-40 flex flex-col items-center justify-center bg-green-500 hover:bg-green-600 text-white w-14 h-14 rounded-full shadow-lg hover:shadow-xl hover:scale-105 transition-all duration-300 group"
  target="_blank"
  rel="noopener noreferrer"
  aria-label="Contáctanos por WhatsApp al +51 976 762 237"
>
  <span class="">
    <WhatsAppLogo />
  </span>

  <!-- Tooltip arriba -->
  <span
    class="absolute bottom-full mb-3 hidden sm:block text-sm font-medium text-white bg-green-700 px-3 py-1.5 rounded-sm opacity-0 group-hover:opacity-100 transition-opacity duration-300 whitespace-nowrap pointer-events-none shadow-md"
  >
    ¡Escríbenos!
  </span>
</a>
