---
import ContactHeader from "./ContactHeader.astro";
import Footer from "../Footer.astro";
---

<div id="container" class="flex flex-col min-h-screen">
  <ContactHeader />
  <main class="flex-1"></main>
  <Footer />
</div>
