---
import ContactHeader from "./ContactHeader.astro";
import ContactHero from "./ContactHero.astro";
import Contacto from "../Contacto.astro";
import Footer from "../Footer.astro";
---

<div id="container" class="flex flex-col min-h-screen">
  <ContactHeader />

  <main class="flex-1">
    <ContactHero />
    <Contacto />
  </main>

  <Footer />
</div>
